* {
  margin: 0;
  padding: none;
}

body {
  font-family: "Open Sans", sans-serif, system-ui, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

/* Sidebar */

.sideBar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #334155;
  color: white;
  font-weight: bold;
}

.headingLogo {
  justify-content: start;
  align-items: center;
  gap: 20px;
  height: 35px;
  width: 35px;
  display: flex;
  font-size: 2em;
  margin-top: 25px;
  margin-left: 25px;
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 35px;
  align-self: flex-start;
}

.navSelectionContainer {
  display: flex;
  width: 25px;
  height: 20px;
  gap: 25px;
  align-items: center;
}

img {
  transform: scale(1.5);
}

li {
  list-style-type: none;
  margin: 20px;
  font-size: 1.2em;
  margin-bottom: 35px;
}

a {
  text-decoration: none;
}

/* Header */

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "searchbar name"
    "welcome buttons";
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.searchContainer {
  display: flex;
  height: 25px;
  width: 50vw;
  gap: 15px;
  margin-top: 25px;
  margin-left: 25px;
  justify-content: flex-start;
}

input {
  grid-area: searchbar;
  height: 35px;
  width: 40vw;
  font-size: 1em;
  border-radius: 12px;
  background-color: #f1f5f9;
  outline: none;
  border: none;
}

.nameContainer {
  display: flex;
  gap: 35px;
  height: 25px;
  width: 500px;
  justify-content: end;
  margin-top: 25px;
  margin-right: 75px;
}

.buttons {
  height: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 25px;
  margin-right: 75px;
  gap: 25px;
}

button {
  border: none;
  width: 120px;
  height: 45px;
  border-radius: 36px;
  font-size: 1em;
  font-weight: bold;
  align-items: center;
  color: white;
  background-color: #334155;
}

.name {
  grid-area: name;
  font-size: 1.5em;
  font-weight: bold;
}

.nameContainer > img {
  margin-top: 5px;
}

.welcomeMessage,
.userInfo {
  grid-area: welcome;
  font-weight: bold;
}

.welcomeMessage {
  font-size: 0.75em;
}

.userInfo {
  height: 50px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
}

/* Main Content */

.mainContent {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.7fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "card1 card2 announcements"
    "card3 card4 announcements"
    "card5 card6 announcements";
  justify-items: start;
  align-items: center;
  background-color: #f8fafc;
  padding: 25px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  margin-top: 15px;
  background-color: white;
  border-left: 10px solid #334155;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card1,
.card3,
.card5 {
  margin-left: 25px;
}

.cardTextContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.iconContainer {
  width: 25px;
  align-self: flex-end;
  display: flex;
  gap: 45px;
  margin-right: 155px;
  margin-bottom: 25px;
}

.cardTitle,
.cardText {
  font-size: 1em;
}

.cardTitle {
  font-weight: bold;
}

.projectsTitle,
.announcementsTitle,
.trendingTitle {
  font-size: 1.5em;
  font-weight: bold;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.announcementsAndTrending {
  grid-area: announcements;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "announcements"
    "trending";
}

.announcements {
  grid-area: announcements;
  height: 70%;
  width: 60%;
  align-self: center;
  justify-self: start;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 35px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.trending {
  grid-area: trending;
  height: 70%;
  width: 60%;
  align-self: center;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 35px;
  margin-top: 40px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.announcements,
.trending {
  border-radius: 12px;
}

.announcementsTitle {
  grid-area: announcements;
}

.trendingTitle {
  grid-area: trending;
  margin-bottom: 50px;
}

.announcementHeader,
.trendingHeader {
  font-weight: bold;
}

.projectsTitle {
  grid-area: card1;
  align-self: start;
  margin-bottom: 15px;
  margin-left: 25px;
}

.cardTextContainer {
  margin-bottom: 45px;
  padding: 20px;
}

.announcementContainerTop,
.announcementContainerBottom,
.announcementContainerMiddle {
  padding: 15px;
}

.announcementContainerMiddle {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.announcementContainerBottom {
  padding: 15px;
}

.trendingContainerTop,
.trendingContainerBottom,
.trendingContainerMiddle {
  padding: 15px;
}

.trendingContainerMiddle {
  border-top: 1px solid black;
}

.trendingContainerBottom {
  padding: 15px;
}
