*{
    margin: 0;
    padding: none;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
}

/* Sidebar */

.sideBar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.headingLogo {
    align-self: center;
    font-size: 2em;
}

.navBar {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 35px;
    align-self: flex-start;
}

.navSelectionContainer {
    display: flex;
    width: 25px;
    height: 20px;
    gap: 25px;
}

img{
    transform: scale(1.5);
}

li {
    list-style-type: none;
    margin:20px;
}

a {
   text-decoration: none; 
}



/* Header */

.header {
    grid-area: header;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "searchbar name"
    "welcome buttons";
    font-family: 'Open Sans', sans-serif,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.searchContainer {
    display:flex;
    height: 25px;
    width: 50vw;
    gap: 15px;
    margin-top: 25px;
    margin-left: 25px;
    justify-content: flex-start;
}

input {
    grid-area: searchbar;
    height: 25px;
    width: 40vw;
    font-size: 1.2em;
    border-radius: 12px;
    border: 1px solid gray;
}

.nameContainer {
    display: flex;
    gap: 35px;
    height: 25px;
    width: 500px;
    justify-content: end;
    margin-top: 25px;
    margin-right: 75px;
}

.buttons {
    height: 25px;
    display: flex;
    justify-content: end;
    align-items:center;
    margin-top: 25px;
    margin-right: 75px;
    gap: 25px;
}

button {
    border: none;
    padding: 25px;
    border-radius: 12px;
    font-size: 0.75em;
}

.name {
    grid-area: name;
    font-size: 1.5em;
    font-weight: bold;
}

.nameContainer > img {
    margin-top: 5px;
}

.welcomeMessage, .userInfo {
    grid-area: welcome;
}

.welcomeMessage {
    font-size: 0.75em;
}

.userInfo {
    height:50px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
}

.userInfoName {
    font-weight: bold;
}

/* Main Content */

.mainContent {
    grid-area: main;
    display:grid;
    grid-template-columns: repeat(2, 1fr) 0.7fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "card1 card2 announcements"
    "card3 card4 announcements"
    "card5 card6 announcements";
    justify-items: start;
    align-items: center;
}

.card1,.card2,
.card3, .card4,
.card5, .card6 {
    height: 80%;
    width: 65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card1, .card3, .card5 {
    margin-left: 25px;
}

.cardTextContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.iconContainer {
    width: 25px;
    align-self: flex-end;
    display: flex;
    gap: 45px;
    margin-right: 155px;
    margin-bottom: 25px;
}

.cardTitle, .cardText {
    font-family: 'Open Sans', sans-serif,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
}

.cardTitle {
    font-weight: bold;
}

.projectsTitle, .announcementsTitle, 
.trendingTitle {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card1 {
   grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.announcementsAndTrending {
    grid-area: announcements;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "announcements"
    "trending";
}

.announcements {
    grid-area: announcements;
    height: 70%;
    width: 60%;
    align-self: center;
    justify-self: start;
    margin-top: 25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 35px;
    font-family: 'Open Sans', sans-serif,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.trending {
    grid-area: trending;
    height: 70%;
    width: 60%;
    align-self: center;
    justify-self: start;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 35px;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.announcements, .trending {
    border-radius: 12px;
    
}

.announcementsTitle {
    grid-area: announcements;
}

.trendingTitle {
    grid-area: trending;
    margin-bottom: 50px;
}

.announcementHeader, .trendingHeader {
    font-weight: bold;
}

.projectsTitle {
    grid-area: card1;
    align-self: start;
    margin-bottom: 15px;
    margin-left: 25px;
}

.cardTextContainer {
    margin-bottom: 45px;
    padding: 20px;
}

.announcementContainerTop,
.announcementContainerBottom,
.announcementContainerMiddle {
    padding: 15px;
}

.announcementContainerMiddle {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.announcementContainerBottom {
    padding: 15px;
}

.trendingContainerTop,
.trendingContainerBottom,
.trendingContainerMiddle {
    padding: 15px;
}

.trendingContainerMiddle {
    border-top: 1px solid black;
}

.trendingContainerBottom {
    padding: 15px;
}